*{
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    /*di chuyen den noi chi dinh*/
}


.body-login {
    background-image: url(image/image.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;   
    align-items: center;
    
}

.body_login{
    background-color: rgba(255, 255, 255, 0.685);
    width: 500px;
    height: fit-content;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.body_login h2{
    text-align: center;
    margin-bottom: 20px;
}

.body_login button{
    width: 100%;
}

.body_login input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.sub{
    color: rgb(214, 95, 95);
}

.action{
    margin-top: 40px ;
}

.input-field{
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 1.125rem;
    padding: .25rem 0;
}

.input{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 1.5rem;
}


.action-button {
	font: inherit;
	font-size: 20px ;
	padding: 10px;
	width: 100%;
	font-weight: 200;
	background-color: #6658d3;
	border-radius: 6px;
	color: #FFF;
	border: 0;
    margin-bottom: 10px;
}

.action-button:hover{
    background-color: #6658d3af;
}

.input-label{
    color:#777f85;
    position: absolute;
    top: 0.25rem;
    transition: .25s ease;
}

.radio-opt{
    color:#777f85;
    margin: 0 10px;
}

.input-radio{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 1.5rem;
}

.radio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link{
    display: inline;
}


.header{
    height:46px;
    background-color: #6887ec;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav{
    display: inline-block;
}


.nav li{
    display: inline-block;
}

.nav li a{
    display: inline-block;
    color:rgb(255, 255, 255) ;
    text-transform: uppercase;
    /*chữ viết hoa*/
    text-decoration: none;
    /*bỏ gạch chân*/
    padding: 0px 24px;
    line-height: 46px;
}  

.nav li a:hover{
    background-color:rgba(255, 255, 255, 0.486);
    color: #6887ec;
}


.search{
    display: inline-block;
    color: white;
    float: right;
    line-height: 46px;
    padding: 0px 20px;
    font-size: 20px;
}

.search-input{
    display: inline-block;
    float: right;
    line-height: 45px;
    padding: 0px 20px;
    font-size: 20px;
    border: none;
}

.s-text{
    font-size: 15px;
    padding-left: 5px;
}

.search:hover{
    background-color: rgb(214, 95, 95);
    cursor: pointer;
}

.login-signup{
    display: inline-block;
    float: right;
    line-height: 46px;
    padding: 0px 20px;
    font-size: 15px;
}

.login-signup a{
    color: aliceblue;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.slider{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin: 40px 0px 0px 0px;
}

.slides{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-heading{
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 4px;   
}

.text{
    margin: 40px 0px;
}


.box{
    background-image: url(image/rừng.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.transbox{
    background-color:#dddddd91;
    padding: 60px 0px;
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
}

.flip-card{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.container-3d{
    width: 400px;
    height: 500px;
    perspective: 600px;
}

.card{
    width: 350px;
    height: 450px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.card div {
    width: 350px;
    height: 500px;
    position: absolute;
}

.card:hover {
    transform: rotateY(180deg);
}


.front{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    transform: translateZ(0.01px);  
}
 
.face{
    width: 350px;
    height: 500px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.back {
    transform: rotateY(180deg);
    text-align: center;
    background-color: #37129c;
    width: 350px;
    height: 500px;
    border-radius: 15px;
}
.front-page{
    transform: translateZ(50px);  
}

.back-page{
    transform: translateZ(50px);  
}

.c-text{
    text-decoration: none;
    color: white;
}

.c-button{
    background-color: red;
    border-radius: 2px;
    width: 80px;
    height: 25px;
    margin: 10px;
    border: 1px solid white;
}

.c-button:hover{
    background-color: rgb(206, 1, 1);
}

#tphcm{
    background-image: url(image/tphcm_.jpeg) ;
}

#hanoi{
    background-image: url(image/HaNoi.webp) ;
}

#dalat{
    background-image: url(image/Dalat.jpeg) ;
}

.ticket{
    margin-bottom: 80px;
    background-image: url(image/sunset.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.t-box{
    width: 300px;
    height: 350px;
    background-color: #eee;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-box{
    width: 300px;
    height: 200px;
}

.ticket-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-blend-mode: darken, luminosity;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .8s;
}

.ticket-image:hover{
    background-size: 150% 150%;
    background-color: #585d61d2;
}

#mientay{
    background-image: url(image/miền-tây.jpg);
}


#mientrung{
    background-image: url(image/miền-trung.jpg);
}

#mienbac{
    background-image: url(image/miền-bắc.jpg);
}


.ticket-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.ticket-text h4{
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
}

.ticket-text h4:hover{
    color: #37129c;
}

.ticket-text p{
    margin-top: 20px;
}


.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittle{
    text-align: center;
}

.reason{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.list{
    width: 200px;
    margin: 15px;
}


.feedback{
    display: flex;  
    width: 75%;
    height: fit-content;
    padding: 40px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px ;
    margin: 60px 20px;
    
}

.input-feedback{
    border: none;
    border-bottom: 2px solid grey;
    display: block;
    flex-direction: column;
    padding: 8px;
    width: 100%;
}


.feedback-input{
    width: 50%;
    width: 100%;
    height: 100%;
}

.button-feedback{
    margin-top: 15px;
    padding: 2px 25px;
    border-radius: 5px;
    border: 1px black solid;
}

.button-feedback:hover{
    background-color: rgba(128, 128, 128, 0.24);
}

.footer{
    width: 100%;
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer div{
    display: flex;
    flex-direction: row;
}

.icon{
    color: rgb(255, 255, 255);
    font-size: 45px;
    margin: 5px 10px;
}

.icon:hover{
    color: #e6e6e6;
}

.footer-text{
    font-size: 15px;
    text-decoration: none
}


.place{
    display: flex;
    padding: 40px 180px;
    flex-direction: column;
}

.place-tittle{
    font-weight: 100;
}


.head{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.place-write{
    margin: 30px 0px;
    width: 700px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.first-text{
    margin: 10px 0px;
}

.index{
    background-color: rgb(212, 212, 212);
    border: 0.1px solid rgb(107, 107, 107);
    width: 100%;
    height: fit-content;
    padding: 15px 0px;
    margin: 30px 0px;
    width: 100%;
}

.index ol div{
    margin: 2px 0px;
}

.index-text{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.index div{
    display: flex;
    flex-direction: row;
}

.index p{
    width: 30px;
    text-align: center;
    margin-right: 5px;
}

.info{
    padding: 20px 0px;
}

.info div{
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
}

.info ul{
    margin: 10px 30px;
}

.info ul li{
    font-size: 14px;
    margin: 2px;
}

.info div p{
    margin-bottom: 20px;
}

.info img{
    margin-bottom: 20px;
    width: 100%;
}