*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    /*di chuyen den noi chi dinh*/
}

.header{
    height:46px;
    background-color: black;
    position: fixed;
    width: 100%;
}

.nav{
    display: inline-block;
}


.nav li{
    display: inline-block;
}

.nav li a{
    display: inline-block;
    /*toàn bộ khối*/
    color:white ;
    text-transform: uppercase;
    /*chữ viết hoa*/
    text-decoration: none;
    /*bỏ gạch chân*/
    padding: 0px 24px;
    line-height: 46px;
}  

.nav li a:hover{
    background-color:white;
    color:black;
}

.search{
    display: inline-block;
    color: white;
    float: right;
    line-height: 46px;
    padding: 0px 20px;
    font-size: 20px;
}


.search:hover{
    background-color: tomato;
    cursor: pointer;
}